# Gradle 构建产物
.gradle/
.kotlin/
build/

# 本地配置（含本机 SDK 路径）
local.properties

# IDE 相关
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# 系统文件
.DS_Store
Thumbs.db
# 签名密钥库（严禁提交到 GitHub）
*.jks
*.keystore

# 本地保留的 APK 产物副本
app/release/
